    body {
      background-color: #000;
    }
    .textboxbody1 {
      background-color: #000;
      color: #fff;
      opacity: 69%;
      margin-left: 15%;
      margin-right: 15%;
      text-opacity: 100%;
      padding-top: 2%;
      padding-left: 10%;
      padding-right: 10%;
      padding-bottom: 2%;
    }
    h1, h2 {
      font-family: 'Mylodon-Light', sans-serif;
      padding: 1em 2em;
      font-size: 50px;
      color: #ffffff;
      font-weight: 400;
      margin: 0.4em 0;
    }
    h1 { font-size: 4em; }
    h2 { font-size: 3em; }
    @font-face {
      font-family: Mylodon-Light;
      font-weight: bold;
      src: url("Mylodon-Light.otf") format("opentype");
    }
    html, body {
      height: 100%;
      overflow-y: scroll;
      scroll-behavior: smooth;
      scroll-snap-type: y mandatory;
      margin: 0;
      padding: 0;
    }
    .parallax-section {
      position: relative;
      scroll-snap-align: start;
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 2em;
      background-attachment: fixed;
      background-size: cover;
      background-position: center;
      transition: opacity 0.6s ease-in-out;
    }
    /* General Bottom Gradient */
    .parallax-section::before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100px;
      pointer-events: none;
      background: linear-gradient(to bottom, transparent, #000);
    }
    /* General Top Gradient */
    .parallax-section::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100px;
      pointer-events: none;
      background: linear-gradient(to bottom, #000, transparent);
    }
    .section-video video {
      position: absolute;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      object-fit: cover;
      z-index: -1; 
    }
    /* Custom gradients for the video section */
    .section-video::before {
      background: linear-gradient(to bottom, transparent, #001F3F);
    }
    .section-video::after {
      background: linear-gradient(to bottom, #001F3F, transparent);
    }
    /* Custom gradients for each section */
    .section1::before {
      background: linear-gradient(to bottom, transparent, #3D2F60);
    }
    .section1::after {
      background: linear-gradient(to bottom, #3D2F60, transparent);
    }
    .section2::before {
      background: linear-gradient(to bottom, transparent, #6A1B9A);
    }
    .section2::after {
      background: linear-gradient(to bottom, #6A1B9A, transparent);
    }
    .section3::before {
      background: linear-gradient(to bottom, transparent, #4B0082);
    }
    .section3::after {
      background: linear-gradient(to bottom, #4B0082, transparent);
    }
    .section4::before {
      background: linear-gradient(to bottom, transparent, #000);
    }
    .section4::after {
      background: linear-gradient(to bottom, #000, transparent);
    }
